body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.left-section {
  background-color: #455A62;
  float: left;
  height: 100vh;
  overflow: auto;
  text-align: center;
  width: 50%;
}

header {
  display: inline-block;
  color: #FFF;
  margin: 0 0 10px 0;
}

.title {
  font-size: 100px;
  font-weight: 800;
  margin: 8rem 0 0 0;
}

.linked-list-logo {
  width: 8.5rem;
}

.title-url-input {
  font-size: 2.0rem;
  margin: 1.4vw 0 1.8vw 0;
  padding: 10px 0px;
  width: 640px;
}

input::placeholder {
  color: #B4B4B4;
  font-size: 85%;
  font-weight: 300;
  letter-spacing: .15rem;
  padding: 0 0 0 10px;
}

.enter-button {
  background-color: #FFC107;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.4rem 0;
  padding: 1rem 0;
  width: 647px;
}

.enter-button:hover { 
  background-color: #FFD773;
}

.card-counter {
  color: #455A62;
  position: inline-block;
  text-align: center;
}

.card-counter h2 {
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: underline;
}

.card-counter ul li {
  display: inline-block;
  font-size: 1.0rem;
  font-weight: 400;
  margin: 0 .2rem .2rem .2rem;
}

ul {
  margin: 0 35px 0 0;
}

.bookmark-content-list {
  background-color: #CFD8DC;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  padding: 0;
  width: 50%;
}

.bookmark {
  animation: shazam 1s linear, bazinga 1s ease-in;
  background-color: #FFF;
  border: 2px solid #607D8B;
  margin: 15px 20px;
  padding: 0;
  position: relative;
}

@keyframes shazam {
    0%   {right: 250px;}
    100% {right: 10px;}
}

@keyframes bazinga {
    from { opacity: 0; }
    to { opacity: 1; }
}

.bookmark h2 {
  color: #455A64;
  font-size: 2.3rem;
  font-weight: 800;
  margin: 0;
  padding: 0 0 0 1rem;
}

.bookmark a {
  color: #607D8B;
  display: block;
  font-size: 1.6rem;
  padding: .2rem 0 .2rem 1rem;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

hr {
  color: #CFD8DC;
  margin: 15px;
}

button {
  background: none;
  border: none;
  color: #455A64;
  outline: none;
  padding: 0;
}

.read-button, .delete-button {
  font-size: 1.3rem;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.read-button {
  float: left;
  margin: .1rem 0 .5rem 1rem;
}

.delete-button {
  float: right;
  margin: .1rem 1rem .5rem 0;
}

.read .read-button {
  color: #F05A28;
  font-weight: 800;
}

.read .read-button:hover {
  color: #F05A28;
  font-weight: 800;
}

.bookmark a:hover,
.bookmark button:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

@media screen and (max-width: 1400px) {
  .title {
    font-size: 6vw;
  }

  .enter-button {
    width: 91%;
  }

  .title-url-input {
    width: 90%;
  }

  .linked-list-logo {
    text-align: center;
    width: 8.5vw;
  }
}

@media screen and (max-width: 960px) {
  .left-section,
  .bookmark-content-list {
    float: none; 
    height: 50%;   
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
  }  

  .left-section {
    top: 0;
  }

  .bookmark-content-list {
    bottom: 0;
  }

  .enter-button {
    margin: 2.5vw 0;
  }

  .title {
    font-size: 55px;
    margin: 2rem 0 0 0;
  }

  .title-url-input {
    margin: .7rem 0 .5rem 0;
    padding: .5rem;
  }

  .linked-list-logo {
    text-align: center;
    width: 4rem;
  }

  .enter-button {
    margin: .7rem 0 0 0;
    padding: 1rem 0;
    width: 92.5%;
  }

  .read-button {
    float: none;
  }
}

@media screen and (max-width: 760px) {
  .enter-button {
    width: 93%;
  }
}

@media screen and (max-width: 480px) {
  .left-section {
    height: 45%;
    top: 0;
  }
  
  .bookmark-content-list {
    bottom: 0;
    display: block;
    height: 55%;
  }

  .bookmark a {
    display: inline-block;
    font-size: 20px;
  }

  .title {
    font-size: 45px;
    margin: .1rem 0;
  }

  .title-url-input {
    margin: 0 0 1rem 0;
    padding: 0;
  }

  .enter-button {
    margin: 0;
    padding: .5rem 0;
    width: 92%;
  }

  .linked-list-logo {
    width: 15vw;
  }
}